{%- if product.description != blank -%}
    <div class="ps-project__block ps-project__desc">
        <div class="ps-project__heading">{{ section.settings.title }}</div>
        {{ product.description }}
    </div>
{%- endif -%}